.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 63px 71px;
	width:317px;
	background-color: #fff;
	z-index: 2;
	left: -317px;
	transition: left .3s ease-out;
}

.sidebar.open {
	left: 0;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .3;
	background-color: #000;
	max-width: 1280px;
}

.nav {
	display: flex;
	flex-direction: column;
}

.nav a {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 600;
	text-align: left;
	color: #000000;
	margin-bottom: 45px;
	text-decoration: none;
}

.nav a:hover {
	color: #58ACFF;
}

.nav a:active {
	color: #3D6B99;
}

.nav a.active {
	color: #0059B2;
	text-decoration: underline;
}
.close {
	position: absolute;
	top: 16px;
	right: 24px;
	border: none;
	background: none;
}

.close img {
}
