.input:focus {
	outline: #D1D1D1;
	border-width: 2px;
}

.input {
	padding: 9px 9px 10px;
	border-radius: 5px;
	border: 1px solid #D1D1D1;
}

.inputWrapper {
	display: flex;
	flex-direction: column-reverse;
}

.superInput {
	width: 372px;
}

.errorInput {
	border-color: #CC1439;
}

.errorInput:focus {
	outline: #CC1439;
	border-width: 2px;
}

.error {
	color: #CC1439;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
