.greetingForm {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
}

.inputAndButtonContainer {
	display: flex;
	align-items: flex-start;
	gap: 12px;
	margin-top: 8px;
}

.inputAndButtonContainer > div{
	max-width: 372px;
	width: 100%;
}

.error {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #CC0000;
	margin-top: 8px;
}

.input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #D1D1D1;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 34px;
	color: #000;
	padding: 0 12px;
}

.input:focus {
	outline: none;
	border: 1px solid #D1D1D1;
}

.errorInput {
	border-color: #CC0000;
}

.button {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #fff;
	background-color: #0066CC;
	text-transform: capitalize;
	border-radius: 5px;
	border: none;
	padding: 8px 25px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
	opacity: .5;
}

.text {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #00000080;
}

.greeting {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #000000;
	margin-top: 3px;
}
