.button {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 3px 24px;
	border-style: solid;
	border-radius: 3px;
}

.disabled {
	color: #002E5C;
	border-color: #004D99;
	background-color: #004D99;
}

.secondary {
	color: #fff;
	border-color: #0066CC;
	background-color: #0066CC;
}

.default {
	color: #0059B2;
	border-color: #0059B2;
	background-color: #C9E5FF;
}

.red {
	color: #B21232;
	border-color: #B21232;
	background-color: #C9E5FF;
}

.default:hover {
	color: #fff;
	background-color: #0059B2;
}

.red:hover {
	color: #fff;
	background-color: #B21232;
}

.secondary:hover {
	color: #0066CC;
	border-color: #0066CC;
	background-color: #C9E5FF;
}


.default:active {
	color: #fff;
	background-color: #0059B2;
}

.secondary:active {
	color: #0066CC;
	border-color: #0066CC;
	background-color: #C9E5FF;
}

.red:active {
	color: #fff;
	background-color: #B21232;
}

.button:disabled {
	opacity: .5;
}
